<!DOCTYPE html>
<html>
<head>
     <title>Данные сотрудника</title>
	 <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body id="worker">
<header>
Карточка сотрудника
</header>
<img id="face_img" src="../foto.jpg" alt="фото сотрудника"/>
<div id="worker_name">Вахтуров Константин</div>
<table>
	<tr>
		<td>ID:</td>
		<td>1</td>
	</tr>
	<tr>
		<td>e-mail:</td>
		<td>kostja08@yandex.ru</td>
	</tr>
</table>
<div id="result">
	<script src="js/script.js"></script>
</div>
</body>
</html>